
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.notes-container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.notebook{
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 50%);
}

.notebookPage{
  font-family: 'Edu QLD Beginner', cursive;
  padding: 20px;
  background-color: #fdfaf7;
  color: #785e3a;
  border: 1px solid #c2b5a3;
  overflow: hidden;
}

.notebookPage.--left{
  border-right: 0;
  box-shadow: inset -7px 0 30px -7px rgb(0 0 0 / 40%);
}

.notebookPage.--right{
  border-left: 0;
  box-shadow: inset 7px 0 30px -7px rgb(0 0 0 / 40%);
}

.note {
  /* flex: 25% 1; */
  padding: 15px;
  margin: 10px;
  flex-basis: 45%;
}

.ant-card-head {
  font-weight: unset;
  padding: unset;

}

.ant-card-head-title {
  padding: unset;
}

.card-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}


@media only screen
and (min-width: 1600px)
and (max-width: 2000px)  {
  .notes-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }

}

@media only screen
  and (min-device-width: 370px)
  and (max-device-width: 812px)  {
    .notes-container {
      display: flex;
      justify-content: center;
      margin-top: 25px;
    }

    .ant-layout.ant-layout-has-sider > .ant-layout, .ant-layout.ant-layout-has-sider > .ant-layout-content {
      width: 100%;
    }

    .note {
      /* flex: 25% 1; */
      padding: 10px;
      margin: 10px;
      flex-basis: 45%;
    }

    .date {
      display: none;
    }
}
