h1 {
  font-size: 35px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-add-msg-btn {
  margin-top: 15px;
}

@media only screen 
  and (min-device-width: 370px) 
  and (max-device-width: 812px)  { 

    h1 {
      font-size: 20px;
      display: flex;
      justify-content: center;
    }
    .header {
      display: flex;
      flex-direction: column;
      z-index: 1;
    }

    .sub-header {
      display: none;
    }

}
