@import '~antd/dist/antd.css';

.App {
  background: #f0f2f5;
  padding: 20px;
}

.body-layout {
  height: 1000px;
  overflow-x: clip;
}

.ant-layout-header{
  background: #f0f2f5;
}

.ant-layout-sider {
  background: #f0f2f5;
}

body {
  overflow-y: clip;
}

.farewell-footer {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */




@media only screen 
  and (min-device-width: 370px) 
  and (max-device-width: 812px)  { 
  .body-layout {
    margin-top: 80px;
    flex-direction: column !important;
  }

  .ant-layout-header{
    padding: 0 !important;
  }

  body {
    overflow-y: scroll;
  }
}